.region-card {
    padding: 2em; 
    margin: 10px;
    border: 1px solid #b69ad6; 
    border-radius: 10px; 
  }

.secondary-bg-color {
    background-color: #af8cff;
}

.center-button {
  width: auto;  
  display: block; 
  text-align: center; 
  margin: 1em; 
  margin-top: 2em;
}